<app-header-nav></app-header-nav>

<!-- BEGIN: Subheader -->
<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver	m-container m-container--responsive m-container--xxl m-page__container">
        
<p>Lorem    From the Source menu in the Image Statistics area of the Match Color dialog box, choose the source image whose colors you’ll be matching in the target image. Choose None when you don’t want to reference a different image to calculate the color adjustment. With None chosen, the target image and the source image are the same.
        If necessary, use the Layer menu to choose the layer from the source image whose colors you want to match. You can also choose Merged from the Layer menu to match the colors from all the layers in the source image.</p>


<p>Lorem    From the Source menu in the Image Statistics area of the Match Color dialog box, choose the source image whose colors you’ll be matching in the target image. Choose None when you don’t want to reference a different image to calculate the color adjustment. With None chosen, the target image and the source image are the same.
        If necessary, use the Layer menu to choose the layer from the source image whose colors you want to match. You can also choose Merged from the Layer menu to match the colors from all the layers in the source image.</p>
        <p>Lorem    From the Source menu in the Image Statistics area of the Match Color dialog box, choose the source image whose colors you’ll be matching in the target image. Choose None when you don’t want to reference a different image to calculate the color adjustment. With None chosen, the target image and the source image are the same.
                If necessary, use the Layer menu to choose the layer from the source image whose colors you want to match. You can also choose Merged from the Layer menu to match the colors from all the layers in the source image.</p>
                <p>Lorem    From the Source menu in the Image Statistics area of the Match Color dialog box, choose the source image whose colors you’ll be matching in the target image. Choose None when you don’t want to reference a different image to calculate the color adjustment. With None chosen, the target image and the source image are the same.
                        If necessary, use the Layer menu to choose the layer from the source image whose colors you want to match. You can also choose Merged from the Layer menu to match the colors from all the layers in the source image.</p>
                        <p>Lorem    From the Source menu in the Image Statistics area of the Match Color dialog box, choose the source image whose colors you’ll be matching in the target image. Choose None when you don’t want to reference a different image to calculate the color adjustment. With None chosen, the target image and the source image are the same.
                                If necessary, use the Layer menu to choose the layer from the source image whose colors you want to match. You can also choose Merged from the Layer menu to match the colors from all the layers in the source image.</p>

        
        
        </div>
        
<app-footer></app-footer>