<!-- BEGIN: Subheader -->
<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver	m-container m-container--responsive m-container--xxl m-page__container">



</div>



<div style="background:#fff;">
	<div class="container">
			<div class="col-md-8">
					<img src="./assets/app/media/img/home/banner-bg.png" alt="" class="img-fluid">
					
					</div>
	</div>
</div>



<div class="container">
	<div class="">
	<div class="row">

		<div class="col-md-6 offset-md-3 col-sm-12">
		<div class="m-portlet m-portlet--bordered m-portlet--rounded">
				<form class="m-form m-form--fit m-form--label-align-right">
						<div class="m-portlet__body">
							<div class="form-group m-form__group m--margin-top-10">
								<div class="alert m-alert m-alert--default" role="alert">
									The example form below demonstrates common HTML form elements air(box shadowed) style.
								</div>
							</div>
							<div class="form-group m-form__group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control m-input m-input--air" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
								<span class="m-form__help">We'll never share your email with anyone else.</span>
							</div>
							<div class="form-group m-form__group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control m-input m-input--air" id="exampleInputPassword1" placeholder="Password">
							</div>
							<div class="form-group m-form__group">
								<label for="exampleSelect1">Example select</label>
								<select class="form-control m-input m-input--air" id="exampleSelect1">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="form-group m-form__group">
								<label for="exampleSelect2">Example multiple select</label>
								<select multiple="" class="form-control m-input m-input--air" id="exampleSelect2">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="form-group m-form__group">
								<label for="exampleTextarea">Example textarea</label>
								<textarea class="form-control m-input m-input--air" id="exampleTextarea" rows="3"></textarea>
							</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit">
							<div class="m-form__actions">
									<button type="button" class="btn m-btn--pill m-btn m-btn--gradient-from-danger m-btn--gradient-to-warning">Danger</button>
								<button type="reset" class="btn btn-secondary">Cancel</button>
							</div>
						</div>
					</form>
	
		</div>
	</div>

	

	</div>
	</div>
</div>

<h3>Lorem ipsume doler sit amer</h3>

<!-- END: Subheader -->
